@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import 'primeicons/primeicons.css';

body{
    margin: 0;
    margin: 0;
    margin: 0;
}
#ide{
    opacity: 0 !important;
}
#ide{
    opacity: 0 !important;
}